---
layout: xz
title: Team
permalink: /team/
---
<div class="page list">
  {% include xz/pagehead.liquid title="Team" %}
  {%- assign roles = "PhD|PhD,MS|Master,UG|Undergraduate,RA|Research Assistant" | split: "," -%}
  {%- for r in roles %}
  {%- assign rp = r | split: "|" -%}
  {%- assign members = site.data.students | where: "level", rp[0] -%}
  {%- if members.size > 0 %}
  <section class="yearblock">
    <h2 class="yearhead inst">{{ rp[1] }}</h2>
    <div class="yearbody">
      <div class="people">
        {%- for s in members %}
        <div class="person">
          <div class="n">{{ s.name }}</div>
          <div class="i">{{ s.institution }}</div>
          <div class="p">{{ s.project }}</div>
          {%- if s.papers %}
          {%- assign ps = s.papers | split: " " %}
          <div class="o"><span class="spaced">{% for x in ps %}<span>{{ x }}</span>{% endfor %}</span></div>
          {%- endif %}
          {%- for d in s.destination %}
          <div class="dest">→ {{ d }}</div>
          {%- endfor %}
        </div>
        {%- endfor %}
      </div>
    </div>
  </section>
  {%- endif %}
  {%- endfor %}
</div>
