/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// About
.latest-news {
  h3 {
    margin-bottom: 1rem; // Adjust the spacing under the header
  }
}

.section-divider {
  border: 0;
  height: 1px;
  background-color: var(--global-divider-color); // A subtle gradient for the horizontal line
  margin-bottom: 2rem; // Ensure there's space after the line before the next section
}

.teaching-assistant {
  margin-bottom: 2rem; /* Adjust the value as needed */
}

.teaching-assistant h3 {
  margin-bottom: 20px; /* Adjust the value as needed */
}


.latest-news .table-sm th,
.latest-news .table-sm td {
  padding-top: 3px; /* Reduce the top padding */
  padding-bottom: 3px; /* Reduce the bottom padding */
}

.teaching-assistant .custom-margin {
  margin-bottom: 2px; /* Adjust this value as needed */
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
